
header {
    background-color: rgb(255, 208, 0);
    height: 150px;
    width: 100%;
  }
  #main {
    display: flex;
    height: 100vh;
  }
  #lewa {
    background-color: rgb(255, 0, 0);
    width: 50%;
    height: 100vh;
  }
  #prawa {
    background-color: blue;
    width: 50%;
    height: 100vh;
  }

  html {
     height: 100%;
  }

  
  html {
    height: 100%;
 }